.fixed{
  position: fixed;
  top: 50px;
  left: 35%;
  right: 35%;
  width: 400px;
  box-shadow: 0 0 15px lightgray;
  background-color: #fff;
  z-index: 999999;
}

.close{
  position: relative;
}

.closeBtn{
  position: absolute;
  right: 3px;
  top:  3px;
}

.modelScroll{
  height: 500px;
  overflow-x: auto;
}
