@charset "utf-8";
/* CSS Document */
@import'bootstrap.min.css';
@import'https://use.fontawesome.com/releases/v5.7.1/css/all.css';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100i,200,300,300i,400,500,500i,600,700,700i,800');

body{
    font-size: 16px;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
}
input[type=submit], input[type=button], input[type=reset], button, .btn { cursor: pointer; font-size: 13px; font-weight: bold;  height: 38px; line-height: 38px; padding:0px 35px; background: rgb(82,132,247);
    background: -moz-linear-gradient(45deg, rgba(82,132,247,1) 0%, rgba(59,86,220,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(82,132,247,1) 0%,rgba(59,86,220,1) 100%);
    background: linear-gradient(45deg, rgba(82,132,247,1) 0%,rgba(59,86,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5284f7', endColorstr='#3b56dc',GradientType=1 ); color:#FFF; text-decoration:none; display:inline-block; border-radius:5px; border:none; font-weight: 500; }
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, button:hover, .btn:hover, .btn.focus, .btn:focus, .btn:hover { background:#2e2e2e; color:#FFF !important; border-color:#2e2e2e; }
ul{
    padding: 0px;
    margin: 0px;
}
h2{
    font-weight: 600;
}
h3{
    color:#243d56;
    margin-bottom: 15px;
}
h4{
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 25px;
}
h6{
    padding-bottom: 24px;
    margin-bottom: 0px;
}
a{
    color: #0b7bff;
    -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out;
}
a:hover{
    text-decoration: none;
}
b, strong{
    font-weight: bold;
}
::-webkit-scrollbar {
width: 5px;
}
::-webkit-scrollbar-thumb {
background: #0b7bff;
}
::-webkit-scrollbar-track {
background: #ddd;
}


.font-weight-medium{
    font-weight: 500;
}
.btn.btnWhite{
    color: #506d82;
    background: #FFF;
    border:solid 1px #f2f2f2;
}
.btn.btnWhite:hover{
    background: -moz-linear-gradient(45deg, rgba(82,132,247,1) 0%, rgba(59,86,220,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(82,132,247,1) 0%,rgba(59,86,220,1) 100%);
    background: linear-gradient(45deg, rgba(82,132,247,1) 0%,rgba(59,86,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5284f7', endColorstr='#3b56dc',GradientType=1 );
}
.container{
    width: 100%;
    max-width: 1600px;
}
.form-group{
    margin-bottom: 27px;
}
.form-group label{
    color: #243D56;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
}
.form-control{
    height: 38px;
    font-size: 15px;
    border-radius: 8px;
    border-color: #e3e9ee;
}
select.form-control{
    height: 38px;
    color: #a3b1b9;
    padding-right: 30px;
    appearance: none;
    -webkit-appearance: none;
    border:solid 1px #b8c3c9;
    background: url(../img/selectAarrow.svg) no-repeat center right;
    background-color: transparent;
    background-size: 23px;
}
.form-group textarea{
    padding-right: 40px;
    min-height: 70px;
    padding-top: 6px;
}
.form-control::-webkit-input-placeholder {
    color: #e3e9ee;
}
.form-control::-moz-placeholder {
    color: #e3e9ee;
}
.form-control:-ms-input-placeholder {
    color: #e3e9ee;
}
.form-control:-moz-placeholder {
    color: #e3e9ee;
}
.f12{
    font-size: 12px !important;
}
.form-control:focus {
    border-color:#f1c306;
    box-shadow: 0px 0px 2px #f1c306;
}
#logo{
    margin: 0px;
    font-size: 15px;
    line-height: 1;
}
#logo img{
    width: 160px;
}
.btn.btn-md{
    border-radius: 7px;
    font-size: 12px;
    height: 44px;
    line-height: 44px;
    padding: 0px 20px;
}
.breadcrumb{
    font-size: 14px;
    padding: 14px 23px !important;
    border-radius: 0px !important;
    background-color: #FFF !important;
    border-bottom: solid 1px #e4e8ea;
    box-shadow: inset 1px -1px 0px #eceeef;
    width: 100%;
}
.breadcrumb a{
    color: #8e9fa8;
}
.breadcrumb-item.active{
    color:#243d56;
}
.breadcrumb-item +.breadcrumb-item::before{
    content: "\f054";
    font-weight: 900;
    padding-right: 17px;
    font-size: 11px;
    font-family: "Font Awesome 5 Free";
}
.breadcrumb-item +.breadcrumb-item{
    padding-left: 17px;
}
.table{
    font-size: 14px;
    font-weight:400;
    color: #7c8b9a;
}
.table thead th{
    color: #243d56;
    font-weight:500;
    font-weight: bold;
    font-size: 13px;
}
.table thead th, .table tbody td{
    vertical-align: top;
}
.table .custom-control-label{
    position: absolute;
}
.textBlue{
    color: #0b7bff !important;
}
.textDark{
    color: #506478 !important;
}
.textGray{
    color: #b3bcc3 !important;
}
.textRed{
    color: #fd3258 !important;
}
.textBlock {
    display: block !important;
}
.textlink{
    font-size: 13px;
    color: #0b7bff;
    font-weight: 600;
}
.btn-md img{
    width: 15px;
    margin-left: 4px;
}
.table{
    border-bottom: solid 2px #f6f6f7;
    margin-bottom: 35px;
}
.table thead th{
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: solid 2px #f6f6f7;
}
.table td, .table th{
    border-color: #f6f6f7;
}
.table tbody tr{
    -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out;
}
.table tbody tr:hover{
    background-color: #f8f9fa;
}
.boxPagination{
    padding: 0px 25px 25px 25px;
}
ul.pagination{
    float: right;
}
ul.pagination li .page-link{
    height: 42px;
    width: 40px;
    padding: 0px;
    font-size: 13px;
    color: #243d56;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    border-color: #f2f2f4;
}
ul.pagination li .page-link:hover, ul.pagination li .page-link.active{
    background-color: #3952da;
    color: #FFF;
}
ul.pagination li a i{
    font-size: 9px;
    color: #a7b1bb;
}
ul.pagination li a:hover i{
    color: #243d56;
}
ul.pagination li:first-child a:hover, ul.pagination li:last-child a:hover{
    background-color: transparent;
}
.custom-control-label::before, .custom-file-label, .custom-select{
    background-color: #FFF;
}
/*-------------------------------------------------------------------------------------------LOGIN CSS START*/

.sectionColumns:after, .sectionColumns:before {
    clear: both;
    content: "";
    display: block;
}
.sectionColumns .leftColumn {
    width: 55%;
    float: left;
    position: relative;
}
.sectionColumns .leftColumn .content-leftColumn{
	height: 100vh;
	color: #FFF;
	position: relative;
    padding: 45px 130px 80px 75px;
}
.sectionColumns .leftColumn .columnImg {
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    height: 100vh;
    position: absolute;
}
.sectionColumns .leftColumn .columnImg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.bottomContent{
	bottom: 0px;
	left: 0px;
	padding: 0px 130px 80px 75px;
	position: absolute;
}
.sectionColumns .rightColumn {
    height: 100vh;
    width:45%;
    overflow: auto;
    position: relative;
    background-color: #f4f6f9;
    padding: 85px 100px 90px 100px;
}
.sectionColumns .content-rightColumn{
	margin: 0 auto;
	width: 100%;
	font-size: 14px;
	padding-top: 0;
}
.boxComman{
    color: #243d56;
    padding: 45px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.02);
}
.inputPassword{
    position: relative;
}
.inputPassword .btnEye{
    right: 12px;
    top:8px;
    position: absolute;
}

/*-------------------------------------------------------------------------------------------LOGIN CSS END*/
/*-------------------------------------------------------------------------------------------DASHBOARD CSS START*/
.dropdown-menu{
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    min-height: 66px;
    border: solid 2px #e9e9e9;
}
.dropdown-item{
    font-size: 15px;
    color: #243d56;
    padding: 10px 18px;
}
.dropdownSetting .dropdown-menu{
    width: 270px;
    padding-bottom: 10px;
}
.dropdownSetting .userDetail{
    position: relative;
    margin-bottom: 10px;
    padding: 15px 18px 15px 60px;
    border-bottom: solid 2px #eaeaea;
}
.dropdownSetting .userDetail h5{
    font-size: 17px;
    color: #243d56;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}
.dropdownSetting .userDetail h6{
    padding: 0px;
    margin: 0px;
    font-weight: 300;
    font-size: 12px;
    color: #243d56;
}

.dropdownSetting .userDetail .imgUser{
    position: absolute;
    left: 18px;
    top:16px;
}
.dropdown.dropdownNotification .dropdown-menu{
    width: 300px;
    padding: 0px;
}
.dropdown.dropdownNotification .dropdown-menu h4{
    padding: 0px;
    margin: 0px;
    line-height: 1;
    padding: 18px;
    font-size: 16px;
    color: #243d56;
    font-weight: 500;
    text-transform: none;
    border-bottom: solid 2px #e9e9e9;
}
ul.listNotification{
    list-style: none;
    height: 298px;
    overflow: auto;
}
ul.listNotification li a{
    padding: 18px;
    display: block;
    color: #243d56;
}
ul.listNotification li a:hover{
    background-color: #fafbfd;
}
ul.listNotification li + li{
    border-top: solid 1px #e9e9e9;
}
.contentNotification{
    width: 100%;
    display: inline-block;
}
.contentNotification .boxUserimg{
    float: left;
    width: 32px;
    margin-top: 2px;
    height: 32px;
    border-radius: 50%;
    background-color: #f2f0f1;
}
.contentNotification .boxUserimg img{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.contentNotification div + div{
    margin-left: 40px;
    line-height: 1.4;
    position: relative;
}
.contentNotification div + div p{
    margin: 0px;
}
.contentNotification .textTime{
    float: right;
    font-size: 13px;
    font-weight: 500;
    margin-top: 0;
    position: initial;
    right: 0px;
    bottom: -1px;
}
.dashboardMain{
    height: 100vh;
}
.topbar{
    padding: 17px 50px;
    background-color: #ffffff;
    border-bottom: solid 1px #e6e9ec;
}

.dropdown-toggle{
    position: relative;
    padding-right: 22px !important;
}
.dropdown-toggle:after{
    content: "\f078";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    border: none;
    font-size: 13px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
}
ul.listTopMenu{
    font-size: 14px;
    list-style: none;
    float: right;
    margin: 0px;
}
ul.listTopMenu > li{
    line-height: 1;
    position: relative;
    float: left;
    min-height: 32px;
}
ul.listTopMenu > li + li{
    padding-left: 25px;
}
ul.listTopMenu > li + li + li{
    margin-left: 25px;
}
ul.listTopMenu > li + li + li:after {
    content: "";
    height: 100%;
    width: 1px;
    left: -1px;
    top: 0px;
    position: absolute;
    background-color: #67808c;
}
ul.listTopMenu > li > a, ul.listTopMenu li .dropdown-toggle{
    color: #67808c;
    display: block;
}
ul.listTopMenu li .imgUser{
    border-radius: 50%;
    padding: 2px;
    width: 32px;
    height: 32px;
    position: relative;
    margin-right: 5px;
    object-fit: cover;
    background-color: #FFF;
    border:solid 1px #67808c;
}
.btnAdd{
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    background: url(../img/spriteicon.svg) no-repeat 8px -48px #ecbf00;
    background-size: 32px 508px;
}
.btnNotification{
    width: 32px;
    position: relative;
    height: 32px;
    display: block;
    background: url(../img/spriteicon.svg) no-repeat 5px 5px;
    background-size: 32px 602px;
    border-radius: 50%;
}
.btnNotification:hover{
   background-color: #fbfbfd;
}
.btnNotification .signNotification{
    position: absolute;
    top: 4px;
    right: 7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(82,132,247);
    background: -moz-linear-gradient(top, rgba(82,132,247,1) 0%, rgba(57,82,218,1) 100%);
    background: -webkit-linear-gradient(top, rgba(82,132,247,1) 0%,rgba(57,82,218,1) 100%);
    background: linear-gradient(to bottom, rgba(82,132,247,1) 0%,rgba(57,82,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5284f7', endColorstr='#3952da',GradientType=0 );
}
.dashboardContent{
    position: relative;
}
.dashboardContent .leftColumn{
    top: 0px;
    left: 0px;
    padding-top: 10px;
    position: absolute;
    width: 80px;
    height: calc(100vh - 78px);
    background: rgb(239,193,0);
    background: -moz-linear-gradient(top, rgba(239,193,0,1) 0%, rgba(255,221,77,1) 100%);
    background: -webkit-linear-gradient(top, rgba(239,193,0,1) 0%,rgba(255,221,77,1) 100%);
    background: linear-gradient(to bottom, rgba(239,193,0,1) 0%,rgba(255,221,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc100', endColorstr='#ffdd4d',GradientType=0 );
}
.dashboardContent .rightColumn{
    height: calc(100vh - 78px);
    background-color: #ffffff;
}
ul.menuMain{
    list-style: none;
}
ul.menuMain li + li{
    margin-top: 20px;
}
ul.menuMain li a{
    display: block;
    width: 58px;
    height: 58px;
    margin: 0px auto;
    border-radius: 50%;
    background: url(../img/spriteicon.svg) no-repeat 17px -109px;
    background-size: 30px 580px;
}
ul.menuMain li a:hover, ul.menuMain li a.active{
    background-color: #FFF;
    box-shadow: 0px 0px 13px rgba(0,0,0,0.1);
}
ul.menuMain li a.iconOrder{
    background-position: 17px -109px;
}
ul.menuMain li a.iconOrder:hover, ul.menuMain li a.active.iconOrder{
    background-position: 17px -174px;
}
ul.menuMain li a.iconDrivers{
    background-position: 19px -231px;
}
ul.menuMain li a.iconDrivers:hover, ul.menuMain li a.active.iconDrivers{
    background-position: 19px -285px;
}
ul.menuMain li a.iconSettings{
    background-position: 14px -341px;
}
ul.menuMain li a.iconSettings:hover, ul.menuMain li a.active.iconSettings{
    background-position: 14px -405px;
}
.rightColumnMenu{
    width: 240px;
    float: left;
    height: calc(100vh - 67px);
    background: #f3f3f4;
}
.boxBtnOrders{
    padding: 20px;
    text-align: center;
    border-bottom: solid 1px #ebebec;
}
ul.menuRightColumn{
    font-weight: 400;
    font-size: 14px;
    padding-top: 35px;
}
ul.menuRightColumn li a{
    height: 50px;
    display: block;
    color: #506d82;
    padding: 0px 35px;
    line-height: 50px;
    border-left:solid 4px transparent;
}
ul.menuRightColumn li.active a, ul.menuRightColumn li a:hover, ul.menuRightColumn li a.active{
    color: #243d56;
    border-left-color:#3b3b3b;
    background-color: #eeeeef;
}
ul.menuRightColumn li + li{
    margin-top: 1px;
}
ul.menuRightColumn li a span{
    font-size: 12px;
    padding: 0px 5px;
    margin-left: 2px;
    border-radius: 4px;
    background-color: #ccd3d7;
    -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out;
}
ul.menuRightColumn li.active a span, ul.menuRightColumn li a:hover span{
    color: #FFF;
    background-color: #01d040;
}
.rightColumnContent{
    position: relative;
    margin-left: 240px;
    overflow: auto;
    height: calc(100vh - 67px);
}


.tableHeader{
    padding: 25px 40px;
    background-color: #f8fafb;
    border-bottom: solid 1px #e4e8ea;
}
.tableHeader + p{
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
    color: #8e9fa8;
    font-weight: 500;
}
ul.listFilter{
    font-weight: 500;
    font-size: 14px;
    list-style: none;
}
ul.listFilter li{
    display: inline-block;
}
ul.listFilter li + li{
    margin-left: 20px;
}
.selectCustomers{
   width: 260px;
}
.boxSearch{
    position: relative;
}
.boxSearch .form-control{
    padding-left: 36px;
}
.boxSearch .btnSearch{
    left: 0px;
    top: 0px;
    outline: none !important;
    color: #7c8b9a !important;
    padding: 0px 10px;
    position: absolute;
    background: none;
    font-size: 17px;
}
.progress{
    width: 60%;
    height: 6px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 15px;
    position: relative;
    overflow: inherit;
    border-radius: 2px;
}
.progress .progressText{
    position: absolute;
    bottom: 100%;
    left: 0px;
    color: #506478;
}
.progress-bar{
    border-radius: 2px 0px 0px 2px;
}
.status{
    padding-left: 25px;
    position: relative;
    color: #506478;
    display: block;
    font-weight: 500;
}
.status:after{
    width: 13px;
    height: 13px;
    content: "";
    left: 0px;
    top:4px;
    position: absolute;
    border-radius: 50%;
    background-color: #DDD;
}
.tableComman tr th:first-child, .tableComman tr td:first-child{
    padding-left: 40px;
}
.tableComman tr th:last-child,  .tableComman tr td:last-child{
    padding-right: 40px;
}
.tableComman .textBlock{
    font-weight: 500;
}
.custom-control-label{
    font-size: 14px;
    font-weight: 500;
}
.custom-control-label:before, .custom-control-label:after{
    width: 20px;
    height: 20px;
    top:0px;
}
.custom-control-label:before{
    border:solid 1px #bfbfbf;
}
.statusUnassigned:after{
    background-color: #6569df;
}
.statusProgress:after{
    background-color: #24d5d8;
}
.statusCancelled:after{
    background-color: #fd3258;
}
.statusPending:after{
    background-color: #fecd2f;
}
.statusDelivered:after{
    background-color: #3dcc38;
}
.progressUnassigned{
    background-color: #898bc7;
}
.progressUnassigned .progress-bar{
    background-color: #6569df;
}
.progressInProgress{
    background-color: #7ce6e8;
}
.progressInProgress .progress-bar{
    background-color: #24d5d8;
}
.progressPending{
    background-color: #ffebac;
}
.progressPending .progress-bar{
    background-color: #fecd2f;
}
.progressCancelled{
    background-color: #feadbc;
}
.progressCancelled .progress-bar{
    background-color: #fd3258;
}
.progressDelivered{
    background-color: #b1ebaf;
}
.progressDelivered .progress-bar{
    background-color: #3dcc38;
}
.boxShowing{
    color: #8e9fa8;
    font-size: 14px;
}
.boxShowing .dropdown{
    margin-left: 7px;
    display: inline-block;
}
.boxShowing .dropdown .dropdown-toggle{
    color: #243d56;
    font-weight: 400;
}
/*-------------------------------------------------------------------------------------------DASHBOARD CSS END*/
/*-------------------------------------------------------------------------------------------JOB VIEW CSS START*/
.rowOrderDetail{
    width: 100%;
    position: relative;
    display: inline-block;
}
.rowOrderDetail .columnJobno{
    width: 100px;
    float: left;
    position: absolute;
    left: 0px;
    top:0px;
    padding-top: 20px;
    height: 100%;
    border-right: solid 1px #e4e8ea;
    background-color: #fbfbfd;
}
.rowOrderDetail .columnJobno h6{
    text-align: center;
    color: #243d56;
    font-size: 14px;
    font-weight: 500;
    margin: 0px 5px 10px 5px;
    border-bottom:solid 1px #f2f2f4;
    padding: 0px 0px 20px 0px;
    text-transform: uppercase;
    text-align: center;
}
.rowOrderDetail .contentOrderDetail{
    margin-left: 100px;
    padding: 50px;
}
ul.listJobNo{
    font-size: 14px;
    list-style: none;
    overflow: auto;
    height: calc(100vh - 194px);
}
ul.listJobNo li + li{
    margin-top: 1px;
}
ul.listJobNo li:hover{
    background-color: #FFF;
}
ul.listJobNo li a{
    color: #8e9fa8;
    display: block;
    position: relative;
    text-align: center;
    padding: 0px 2px 0px 5px;
    line-height: 40px;
    white-space: nowrap;
    border-left: solid 4px transparent;
    overflow: auto;
}
ul.listJobNo li a:after{
    position: absolute;
    left: 5px;
    top: 17px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #DDD;
}
ul.listJobNo li a.active, ul.listJobNo li a:hover{
    background-color: #FFF;
    color: #243d56;
    font-weight: 400;
    border-color: #3dcc38;
}
ul.listJobNo li a.active:after, ul.listJobNo li a:hover:after{
    display: none;
}
ul.listJobNo li .textUnassigned:after{
    background-color: #6569df;
}
ul.listJobNo li .textProgress:after{
    background-color: #24d5d8;
}
ul.listJobNo li .textCancelled:after{
    background-color: #fd3258;
}
ul.listJobNo li .textPending:after{
    background-color: #fecd2f;
}
ul.listJobNo li .textDelivered:after{
    background-color: #3dcc38;
}
.boxOrderdetail h3{
    text-transform: uppercase;
    margin-bottom: 5px;
}
ul.listorderDetail{
    list-style: none;
    padding: 0px;
    color: #243d56;
    font-weight: normal;
    font-size: 13px;
}
ul.listorderDetail li span{
    color: #b3bcc3;
}
ul.listCustomerDetail{
    list-style: none;
    text-align: right;
    padding: 0px 0px 18px 0px;
}
ul.listCustomerDetail li + li{
    margin-left: 10px;
}
ul.listCustomerDetail li{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
ul.listCustomerDetail li h6{
    padding: 0px 0px 3px 0px;
    font-size: 15px;
    font-weight: 500;
}
ul.listCustomerDetail li h5{
    margin: 0px;
    color: #243d56;
}
.btn.btn-sm{
    padding: 0px 18px;
}
.btnIcon{
    width: 38px;
    height: 38px;
    color: #000000;
    text-align: center;
    line-height: 38px;
    display: block;
    border-radius: 6px;
    border:solid 1px #f2f2f2;
}
.btnIcon:hover{
    color: #FFF !important;
    background: -moz-linear-gradient(45deg, rgba(82,132,247,1) 0%, rgba(59,86,220,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(82,132,247,1) 0%,rgba(59,86,220,1) 100%);
    background: linear-gradient(45deg, rgba(82,132,247,1) 0%,rgba(59,86,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5284f7', endColorstr='#3b56dc',GradientType=1 );
}
.textPrice{
    font-weight: normal;
    font-size: 14px;
    text-align: right;
}
.textPrice span{
    color: #b3bcc3;
}
.textPrice a{
    margin-left: 2px;
    color: #243d56;
}
.font-medium{
    font-weight: 500;
}
.contentOrderDetail{
    font-size: 14px;
}
.contentOrderDetail h4{
    margin-bottom: 0px;
    font-size: 18px;
    padding-bottom: 20px;
}
.boxOrderstatus{
    padding: 15px 0px;
}
ul.listOrderstatus{
    color: #d2d9dc;
    text-transform: uppercase;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 35px;
}
ul.listOrderstatus li.active{
    z-index: 100;
}
ul.listOrderstatus li.active i, ul.listOrderstatus li.active{
    color: #01d040;
}
ul.listOrderstatus li.active:after{
    background-color: #01d040;
}
ul.listOrderstatus li{
    z-index: 1;
    max-width: 200px;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
ul.listOrderstatus li + li:after{
    z-index: -1;
    height: 2px;
    content: "";
    right: 100%;
    top:15px;
    width: 87%;
    position: absolute;
    background-color: #d2d9dc;
}
ul.listOrderstatus li:before{
    width: 5px;
    height: 1px;
    content: "";
    bottom: 0px;
    left: 0px;
    position: absolute;
    background-color: #d2d9dc;
}

ul.listOrderstatus li i{
    display: block;
    font-size: 30px;
    padding-bottom: 20px;
}
.boxMap iframe{
    border-radius: 3px;
}
.tabsAdditionalDetails{
    border-radius:5px;
    margin-bottom: 30px;
    overflow: hidden;
    border: solid 1px #f2f2f4;
}
.tabsAdditionalDetails .nav-tabs{
    background-color: #fcfcfd;
}
.tabsAdditionalDetails .nav-tabs .nav-link{
    padding: 0px 15px;
    line-height: 25px;
    font-size: 13px;
    font-weight: 500;
    color: #82919f;
}
.tabsAdditionalDetails .tab-content{
    padding:15px 0px 0px 0px;
    min-height: 95px;
    color: #b3bcc3;
    font-size: 13px;
}
.tabsAdditionalDetails .nav-tabs .nav-item{
    margin: 0px;
}
.tabsAdditionalDetails .nav-tabs .nav-item + .nav-item{
    border-left: solid 1px #f2f2f4;
}
.tabsAdditionalDetails .nav-tabs .nav-link{
    border-radius: 0px;
    border:none !important;
}
.tabsAdditionalDetails .nav-tabs .nav-item.show .nav-link, .tabsAdditionalDetails .nav-tabs .nav-link.active{
    background-color: #f2f2f4;
    color: #243d56;
}
.textSplit{
    line-height: 14px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 10px;
    height: 14px;
    border-radius: 5px;
    padding: 0px 6px;
    position: relative;
    top: -2px;
    display: inline-block;
    background-color: #01d040;
}
.textSplit img{
   width: 8px;
}
.tab-content .table{
    margin: 0px;
}
.tab-content .table thead th{
    /* padding-top: 5px;
    padding-bottom: 8px; */
    border-top: 0;
}
.tableDriverDetails .table thead th{
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 0;
}
.tab-content .table{
    border-bottom: solid 1px #f6f6f7;
}
.tableDriverDetails .table{
    margin: 0px;
}
.tab-content .table td, .tableDriverDetails .table td{
    border-top:none;
}
.tab-content .table tr:last-child td, .tableDriverDetails .table tr:last-child td {
    border-bottom: solid 20px #FFF;
}
.rowAssign{
    padding-bottom: 20px;
}
ul.listAction{
    list-style: none;
    padding: 0px;
}
ul.listAction li{
    display: inline-block;
}
ul.listAction li + li{
    margin-left: 15px;
}
ul.listAction li a{
    color: #243d56;
}
ul.listAction li a:hover{
    color: #243d56;
}
.tableAssignDriver .table{
    color: #243d56;
}
.tableAssignDriver thead th{
    text-transform: uppercase;
}
.popupAssignDriver{
    font-size: 15px;
}
.textquantity{
    color: #243d56;
    font-weight: 600;
    border-bottom: dotted 2px #243d56;
}
.btnDriverName{
    font-weight: 500;
}
.btnDriverName i{
    font-size: 20px;
    line-height: 0;
    color: #d3d8dd;
}
.tableAssignDriver{
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #FFF;
    padding-bottom: 15px;
}
.popupAssignDriver .modal-dialog{
    max-width: 770px;
    margin: 0px 0px 0px auto;
    height: 100vh;
    background-color: #f4f6f9;
    overflow: auto;
    padding: 50px;
}
.tableAssignDriver .table{
    font-size: 14px;
}
.popupAssignDriver .modal-body{
    padding: 0px;
    height: 100%;
}
.popupAssignDriver .modal-content{
    border:none;
    height: 100%;
    background-color: transparent;
}
.popupAssignDriver h4{
    font-size: 18px;
}
.modal .btnClose{
    right: -32px;
    font-size: 35px;
    position: absolute;
    top: -51px;
    color: #000;
}
.modal-backdrop{
    opacity: 0.3;
    background-color: #043166;
}
.rowAddMore{
    font-size: 13px;
    border-top:solid 1px #f6f6f7;
    padding: 8px 15px;
}
.rowDriver{
    width: 100%;
    line-height: 1.3;
    display: inline-block;
}
.rowDriver div:first-child{
    width: 36px;
    float: left;
}
.rowDriver div:first-child img{
    border-radius: 50%;
    height: 36px;
    width: 36px;
}
.rowDriver div + div{
    padding-top: 2px;
    margin-left: 45px;
}

.rowDriver p{
    margin: 0px;
}
.modal select.form-control{
    height: 38px;
    border-color: #e3e9ee;
}
.modelInviteDriver .modal-dialog{
    max-width: 500px;
}
.alert{
    width: auto;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 8px;
    border: solid 1px;
    position: absolute;
    font-size: 13px;
    letter-spacing: 0;
}
.alert-success{
    color: #243d56;
    border-color: #3dcc38;
    background-color: #daffd7;
}
ul.listDrivername li img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
ul.listDrivername li a{
    padding: 10px 5px;
}
ul.listDrivername li a:after{
    display: none;
}
.contentdriverDetail{
    padding: 20px 30px 50px 30px;
    border-bottom: solid 1px #d3d8dd;
}
.contentdriverDetail > h3{
    padding-bottom: 45px;
}
.boxDriverDetail h3{
    font-size: 20px;
    font-weight: normal;
}
.rowUser{
    width: 100%;
    display: inline-block;
}
.rowUser > div:first-child{
    width: 55px;
}
.rowUser > div .imgUser{
    width: 56px;
    height: 56px;
    float: left;
    border-radius: 50%;
}
.rowUser > div + div{
    margin-left: 70px;
    padding-top: 6px;
}
.boxInfo{
    font-size: 13x;
    font-weight: normal;
}
.boxInfo .row{
    margin-left: -5px;
    margin-right: -5px;
}
.boxInfo .row [class*="col-"]{
    padding-left: 5px;
    padding-right: 5px;
}
.headingBorderSmall{
    margin-bottom: 13px;
    font-size: 16px;
    position: relative;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.headingBorderSmall:after{
    width: 45%;
    height: 1px;
    content: "";
    bottom: 0px;
    left: 0px;
    position: absolute;
    background-color: #d3d8dd;
}
.contentOrderDetails{
    padding: 7px 30px;
    border-bottom: solid 1px #d3d8dd;
}
.rowTotalOrder{
    float: right;
}
.rowTotalOrder .boxtotalOrders{
    width: 105px;
    float: left;
    line-height: 1;
    padding: 12px 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    border-right: solid 1px #d3d8dd;
}
.rowTotalOrder .boxtotalOrders span{
    display: block;
    font-size: 12px;
    margin-top: 10px;
}
.rowTotalOrder >  div + div{
    margin-left: 105px;
    padding: 16px 0px 13px 22px;
}
.rowTotalOrder ul.listOrderStatus{
    width: 260px;
    list-style: none;
    color: #96a5ae;
}
.rowTotalOrder ul.listOrderStatus li{
    width: 47%;
    padding-right: 10px;
    margin-bottom: 3px;
    float: left;
    margin-right: 3%;
}

.rowTotalOrder ul.listOrderStatus li span {
    font-size: 12px;
    padding: 0px 5px;
    margin-left: 2px;
    float: right;
    margin-right: 5px;
    color: #FFF;
    border-radius: 4px;
    background-color: #d2d9dc;

}
.boxContentInner{
    padding: 30px;
}
ul.listbtns{
    list-style: none;
    margin-bottom: 20px !important;
}
ul.listbtns li{
    display: inline-block;
}
ul.listbtns li + li{
    margin-left: 8px;
}
.boxCommanBorder{
    border-radius: 5px;
    border:solid 1px #f2f2f4;
    padding: 40px;
    margin-bottom: 25px;
}
.headingBorder{
    position: relative;
    font-size: 16px;
    color: #243d56;
    padding: 0px;
    z-index: 2;
    margin-bottom: 25px;
}
.headingBorder:after{
    content: "";
    height: 1px;
    width: 100%;
    left: 0px;
    top:50%;
    z-index: -1;
    position: absolute;
    background-color: #e3e9ee;
}
.headingBorder > span{
    padding-right: 15px;
    display: inline-block;
    background-color: #FFF;
}
.rowLoadDimension{
    text-align: center;
    margin-left: -7px;
    margin-right: -7px;
}
.rowLoadDimension [class*="col"]{
    padding-left: 7px;
    padding-right: 7px;
}
.rowLoadDimension [class*="col"] + [class*="col"]:after{
    content: "X";
    left: -3px;
    top: 9px;
    position: absolute;
    font-size: 12px;
}
.rowLoadDimension [class*="col"] + [class*="col"]:last-child:after{
    display: none;
}
.rowLoadDimension .form-control{
    text-align: center;
}
.rowLoadDimension select.form-control{
    padding: 0px;
    border:none;
}
.tableDriverDetails{
    border-radius: 5px;
    border: solid 1px #f2f2f4;
}
.linkaddMore{
    font-size: 16px;
    text-align: center;
    color: #0b7bff;
    display: block;
    position: relative;
    z-index: 1;
}
.linkaddMore span{
    padding: 0px 15px;
    display: inline-block;
    background-color: #FFF;
}
.linkaddMore:after{
    content: "";
    height: 1px;
    width: 100%;
    left: 0px;
    top:50%;
    z-index: -1;
    position: absolute;
    background-color: #cee5ff;
}
.custom-file-label{
    padding-top:9px;
}
.custom-file-label::after{
    color: #FFF;
    padding-top: 9px;
    font-weight: 500;
    background: rgb(82,132,247);
    background: -moz-linear-gradient(45deg, rgba(82,132,247,1) 0%, rgba(59,86,220,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(82,132,247,1) 0%,rgba(59,86,220,1) 100%);
    background: linear-gradient(45deg, rgba(82,132,247,1) 0%,rgba(59,86,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5284f7', endColorstr='#3b56dc',GradientType=1 );
}
/*-------------------------------------------------------------------------------------------JOB VIEW CSS END*/
/*-------------------------------------------------------------------------------------------ACCOUNT SETTING CSS START*/
.boxProfile{
    padding-left: 170px;
    position: relative;
}
.boxProfile .boxProfilePhoto{
    width: 132px;
    height: 132px;
    left: 0px;
    top:0px;
    position: absolute;
    border-radius: 50%;
}
.boxProfile .boxProfilePhoto img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.contentAccountSetting{
    /* padding: 20px 0px 50px 10px; */
}

/*-------------------------------------------------------------------------------------------ACCOUNT SETTING CSS END*/

.accordionAssignDriver .table{
    margin: 0px;
}
.accordionAssignDriver .card{
    border:none;
}
.accordionAssignDriver .card-header{
    border:none;
    cursor: pointer;
    padding: 0px 35px 0px 20px;
    background-color: #eceff0;
}
.accordionAssignDriver .card-body{
    background-color: #f8f9fa;
    padding-top: 0px;
}
.accordionAssignDriver .card-header .table{
    border:none;
}
.accordionAssignDriver .card-header .table thead th{
    padding-top: 20px;
    padding-bottom: 20px;
    border:none;
}
.tableAssignDriver  .table thead th{
    padding-top: 30px;
    border:none;
    padding-bottom: 30px;
}
.textAddMore{
    padding: 15px 15px 0px 15px
}
.accordionAssignDriver{
    padding: 15px;
    background-color: #FFF;
}
.tableDriver tr td:first-child, .tableDriver tr th:first-child{
    width: 120px;
    padding-left: 0px;
}
.tableDriver tr td:nth-child(2), .tableDriver tr th:nth-child(2){
    width: 205px;
}
.rdtPicker{
    width: 220px !important;
}
.rdtPicker .dow{
    width: auto !important;
}
.rdtPicker thead tr:first-child th{
    padding: 15px 0px;
}
.rdtPicker th.rdtNext, .rdtPicker th.rdtPrev{
    line-height: 1;
}
.rdtDays .table thead th{
    padding: 0px !important;
}
.rdtPicker td, .rdtPicker th{
    padding: 0px 5px;
}
.tableDriver tr td:nth-child(3), .tableDriver tr th:nth-child(3){
    width: 200px;
}
.accordionAssignDriver .card-header .tablecollapsedHeader{
    position: relative;
}
.fixedAssignDriver .accordionAssignDriver{
    margin-bottom: 10px;
}
.accordionAssignDriver .card-header .tablecollapsedHeader:after{
    position: absolute;
    right: -29px;
    content: "\f0de";
    top: 16px;
    margin-top: 5px;
    transform: translateX(-50%);
    font-weight: 900;
    font-size: 20px;
    font-family: "Font Awesome 5 Free";
}
.accordionAssignDriver .card-header .collapsed.tablecollapsedHeader:after{
    content: "\f0d7";
    margin-top: 0px;
}
.accordionAssignDriver .card + .card{
    margin-top: 15px;
}
.maintableAssignDriver .table-responsive{
    overflow: inherit;
}
.form-control:disabled, .form-control[readonly]{
    background-color: #fafbfc;
    opacity: 1;
}
.boxProfilePhoto .custom-file{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    cursor: pointer;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
}
.boxProfilePhoto .custom-file i{
    position: absolute;
    top:50%;
    left: 50%;
    color: #FFF;
    font-size: 20px;
    transform: translate(-50%,-50%);
}
.boxProfilePhoto .custom-file .custom-file-input{
    position: absolute;
    height: 100%;
    z-index: 1000;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;

}
.form-control:disabled.disabledGreen, .form-control[readonly].disabledGreen{
    background-color: #ebfaeb;
    border-color: #ebfaeb;
    color: #72d96f;
}
.inputpostcode{
    position: relative;
}
.inputpostcode .iconFlag{
    position: absolute;
    left: 10px;
    top:13px;
}
.inputpostcode .form-control{
    padding-left: 35px;
}
.dropdownAdd .dropdown-menu{
     width: 350px;
     margin-top: 10px;
     padding: 28px 20px;
}
ul.listAddOptions{
    list-style: none;
    padding: 0px;
}
ul.listAddOptions li{
    width: 33.33%;
    float: left;
    padding: 0px 5px;
    text-align: center;
}
ul.listAddOptions li a{
    color: #243d56;
    display: block;
}
ul.listAddOptions li h6{
    padding: 0px;
    font-size: 14px;
    font-weight: 300;
}
ul.listAddOptions li img{
    min-height: 31px;
    margin-bottom: 15px;
}
.modelSecondary .modal-content{
    border: solid 1px #e8e8e8;
}
.modelSecondary .modal-title{
    padding: 0px;
    font-size: 16px;
    line-height: 1;
}
.modelSecondary .modal-header{
    padding: 16px 18px;
}
.modelSecondary.modal .btnClose{
    background: none;
    top: 5px;
    right: 18px;
    padding: 0px;
    font-size: 33px;
    font-weight: normal;
}
.modelSecondary.modal .btnClose:hover{
    color: #0056b3 !important;
}
.modelSecondary .modal-body .innerInviteCustomer{
    padding: 40px 25px;
}
.textOr{
    z-index: 1;
    margin-bottom: 20px;
    position: relative;
    font-size: 12px;
    color: #243d56;
    font-weight: 500;
    text-align: center;
}
.textOr:after{
    width: 100%;
    height: 2px;
    left: 0px;
    content: "";
    top: 8px;
    background-color: #e3e9ee;
    position: absolute;
    z-index: -1;
}
.textOr span{
    padding: 0px 7px;
    background-color: #FFF;
    display: inline-block;
}
.boxDragDrop{
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    margin: 0px auto 45px auto;
    background-color: #ffffff;
    position: relative;
    outline: 1px dashed #2da3fb;
    padding: 65px 65px 20px 65px;
}
.boxDragDrop .boxButton{
    margin: 0px auto 15px auto;
}
.boxDragDrop .boxIcon{
    margin-bottom: 20px;
}
.boxDragndrop.is-uploading .boxInput,
.boxDragndrop.is-success .boxInput,
.boxDragndrop.is-error .boxInput{
    visibility: hidden;
}
.boxUploading,
.boxSuccess,
.boxError{
    display: none;
}
.boxDragndrop.is-uploading .boxUploading,
.boxDragndrop.is-success .boxSuccess,
.boxDragndrop.is-error .boxError{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translateY( -50% );
    transform: translateY( -50% );
}
.boxUploading{
    font-style: italic;
}
.boxSuccess{
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}
@-webkit-keyframes appear-from-inside
{
    from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
    75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
    to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside
{
    from	{ transform: translateY( -50% ) scale( 0 ); }
    75%		{ transform: translateY( -50% ) scale( 1.1 ); }
    to		{ transform: translateY( -50% ) scale( 1 ); }
}

.boxRestart{
    font-weight: 700;
}
.boxRestart:focus,
.boxRestart:hover{
    color: #0b7bff;
}

.mainDragDrop .boxFile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.mainDragDrop .boxFile + label{
    font-size: 18px;
    color: #4c6476;
    outline: none !important;
}
.mainDragDrop .boxFile + label span{
    display: block;
    font-size: 12px;
}
.mainDragDrop .boxFile + label strong{
    color: #0b7bff;
    cursor: pointer;
    font-weight: 500;
}
.mainDragDrop .boxFile + label:hover strong,
.boxFile:focus + label strong,
.boxFile.has-focus + label strong{
    color: #0b7bff;
}
.mainDragDrop .boxFile:focus + label,
.mainDragDrop .boxFile.has-focus + label{
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.no-mainDragDrop .boxFile + label{
    display: none;
}

.mainDragDrop .boxButton{
    display: table;
    margin-top: 35px;
}
ul.listuploadStatus{
    list-style: none;
    margin:0px auto;
}
ul.listuploadStatus > li + li{
    margin-top: 15px;
}
.boxUploadStatus{
    padding: 17px 30px 15px 30px;
    background-color: #FFF;
}
.contentUpload{
    padding-left: 28px;
    position: relative;
}
.contentUpload i{
    left: 0px;
    top:-17px;
    color: #0b7bff;
    font-size: 22px;
    position: absolute;
}
.boxUploadStatus .progress{
    width: 100%;
    margin-top: 19px;
    background-color: #deeefc;
}
.boxUploadStatus .linkCancel{
    position: absolute;
    right: 0px;
    top:-20px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
}
.boxUploadStatus .progress{
    margin-bottom: 8px;
}
.boxUploadStatus .progress .progressText{
    color: #214055;
    font-size: 16px;
    font-weight: 600;
}
ul.listStatus{
    list-style: none;
    margin: 0px;
    font-size: 10px;
    font-weight: 500;
}
ul.listStatus li{
    color: #a8b8bd;
    display: inline-block;
}
ul.listStatus li + li{
    margin-left: 10px;
}
ul{
    margin-bottom: 0px !important;
}
.eihZov, .jNZklp, .sc-jTzLTM {
    margin: 0px;
    color: #243d56;
    min-height: 48px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.jkIIow .react-data-table--cell-content a{
    position: initial !important;
}
.cOaGrx{
    min-height: inherit !important;
}
.sc-bxivhb .sc-ifAKCX:first-child{
    padding-left: 25px !important;
}
.sc-bxivhb .sc-ifAKCX:first-child input[type="checkbox"]{
    position: relative;
    top:4px;
}
.sc-dxgOiQ .sc-gqjmRU .sc-ifAKCX:first-child{
    padding-left: 25px !important;
}
.navbar-brand{
    padding: 0px !important;
}
.sc-kAzzGY.dFiLHD{
    display: none !important;
}
html body .cOaGrx{
    padding: 0px !important;
    min-height: inherit !important;
}
.tableHeader + div{
    margin-top: 0px !important;
}
.jdZEYg{
    position: inherit !important;
}
.IELxV{
    border-top-color: #dee2e6;
}
.bTnnmE {
    border-bottom: solid 2px #f6f6f7;
    margin-bottom: 35px;
}
.hTSrJn{
    border-top:none !important;
}
.hTSrJn{
    justify-content: flex-start !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
}
.hkbPyM{
    margin-left: auto !important;
}
.isKPrB{
    font-size: 14px !important;
    color: #8e9fa8 !important;
}
.cBrcSU{
    font-size: 14px !important;
    color: #243d56 !important;
    font-weight: 400 !important;
}
.bidHYz{
    border-radius: 0px !important;
    margin: 0px !important;
    background: #FFF !important;
    border: solid 1px #f2f2f4 !important;
}
.bidHYz:hover{
    background: #3952da !important;
}
.bidHYz:hover svg{
    fill: #FFF !important;
}
#pagination-first-page, #pagination-previous-page, #pagination-next-page, #pagination-last-page{
  cursor: pointer;
  background: transparent !important;
}
#pagination-first-page svg{
    color: #a7b1bb;
}
#pagination-last-page svg{
    color: #a7b1bb;
}

.bidHYz:disabled{
    opacity: 1 !important;
}

.bidHYz svg{
    fill: #243d56 !important;
}

ul.listAttachment{
    list-style: none;
}
ul.listAttachment li{
    margin-right: 7px;
    display: inline-block;
}
ul.listAttachment li .alertAttachment {
    position: relative;
    top:0px;
    left: 0px;
    line-height: 1;
    margin: 0px;
    padding: 10px 30px 10px 36px;
    border:none;
    transform: none;
    border-radius: 5px;
    background-color: #eff7ff;
}
ul.listAttachment li .alertAttachment i{
    color: #0b7bff;
    position: absolute;
    left: 13px;
    top: 17px;
}
ul.listAttachment li .alertAttachment h5{
    line-height: 1;
    color: #0b7bff;
    font-size: 12px;
    margin: 0px 0px 2px 0px;
}
ul.listAttachment li .alertAttachment h6{
    padding: 0px;
    color: #a5b6c3;
    font-size: 10px;
    font-weight: 300;
}
.alert-dismissible .close{
    padding: 0px;
    text-shadow: none;
    background: none;
    font-weight: normal;
    color: #babec0;
    right: 9px;
    font-size: 20px;
    top: 5px;
}
.alert-dismissible .close:hover{
    color: #0b7bff !important;
}

html body .model-inviteDriverFront{
    z-index: 100000000000000000;
    background-color: rgba(0,0,0,0.5);
}
.jNZklp{
    white-space: initial !important;
}
.elloaA .react-data-table--cell-content{
    top: 50%;
    transform: translateY(-50%);
}
html body .sc-bdVaJa, html body .bTnnmE{
    height: calc(100vh - 338px) !important;
}





@media (max-width:1400px) {
    body{ font-size: 14px;}
    .bottomContent{ padding: 0px 60px 50px 60px; }
    .bottomContent h2{ font-size: 27px;}
}
@media (max-width:1280px) {
    body, .form-group label, ul.menuRightColumn, .btn.btn-md, .breadcrumb, .form-control, .table, .custom-control-label{ font-size: 13px;}
    .boxCommanBorder{ padding: 30px;}
    .sectionColumns .rightColumn{ padding: 85px 60px 90px 60px; }
    .selectCustomers{ width: 160px;}
    .tableHeader{ padding: 25px 20px;}
    ul.menuRightColumn li a{ padding: 0px 20px;}
    .rightColumnMenu{ width: 190px;}
    .rightColumnContent{ margin-left: 190px;}
    ul.menuRightColumn{ padding-top: 20px;}
    ul.menuRightColumn li a{ height: 40px; line-height: 40px;}
    ul.listFilter{ font-size: 13px;}
    .topbar{ padding: 17px 10px; }
    .boxBtnOrders{ padding: 15px;}
    .rowOrderDetail .contentOrderDetail{ padding: 25px; }
    ul.listOrderstatus li{ max-width: 200px;}
    ul.listOrderstatus li + li:after{ width: 86%; }
}
@media (max-width:1200px) {
    .boxCommanBorder{ padding: 20px;}
    ul.listAttachment li{ margin-bottom: 5px;}
    ul.listCustomerDetail li + li{ margin-left: 5px;}
    .form-control{ padding: 0px 8px;}
    .contentAccountSetting{ padding: 30px 0px 50px 0px;}
    .boxDriverDetail h3{ font-size: 19px;}
    .contentdriverDetail > h3{ padding-bottom: 20px; }
    .sectionColumns .rightColumn{ padding: 85px 40px 50px 40px; }
    .boxComman{ padding: 30px;}
    .bottomContent{ padding: 0px 30px 40px 30px; }
    .tabsAdditionalDetails .nav-tabs .nav-link{padding: 0px 10px;}
    .rowLoadDimension select.form-control{ font-size: 12px; background-size: 40%;}
    .boxCommanBorder .row, .boxInfo .row{ margin-left: -5px; margin-right: -5px;}
    .boxCommanBorder .row [class*="col"], .boxInfo .row [class*="col"]{ padding-left: 5px; padding-right: 5px;}
    .contentOrderDetails{ padding: 7px 18px;}
    .contentdriverDetail{ padding: 20px 18px 40px 18px; }
    .dashboardContent .leftColumn{ width: 70px;}
    .dashboardContent .rightColumn{ margin-left: 70px;}
    .rightColumnMenu{ width: 160px;}
    .rightColumnContent{ margin-left: 160px;}
    .h3, h3{  font-size: 1.5rem}
    body{ font-size: 13px;}
    .h5, h5{ font-size: 1.15rem;}
    .btn.btn-md{ height: 42px; line-height: 42px; }
    ul.listCustomerDetail li h6{ font-size: 12px;}
}
@media (max-width:1024px) {
    .tableHeader .row [class*="col"]{ max-width: 100%; flex: 0 0 100%; text-align: center;}
    .tableHeader .row [class*="col"] + [class*="col"]{ margin-top: 13px;}
    .dashboardContent .rightColumn{ margin-left: 60px;}
    .dashboardContent .leftColumn{ width: 60px;}
    ul.menuMain li a{ width: 50px; height: 50px; }
    ul.menuMain li a.iconOrder:hover, ul.menuMain li a.active.iconOrder{ background-position: 13px -178px;}
    ul.menuMain li a.iconOrder{ background-position: 13px -114px;}
    ul.menuMain li a.iconDrivers{ background-position: 14px -235px;}
    ul.menuMain li a.iconDrivers:hover, ul.menuMain li a.active.iconDrivers{ background-position: 15px -289px; }
    ul.menuMain li a.iconSettings{ background-position: 10px -346px;}
    ul.menuMain li a.iconSettings:hover, ul.menuMain li a.active.iconSettings{ background-position: 10px -409px;}
    .boxOrderdetail .row [class*="col"]{ max-width: 100%; flex: 0 0 100%;}
    ul.listCustomerDetail{ text-align: left; margin-top: 5px;}
    .textPrice{ text-align: left;}
    ul.listCustomerDetail li + li{ margin-left: 0px;}
    ul.listOrderstatus li{ max-width: 125px;}
    .boxOrderdetail h3{ font-size: 23px;}
    .tabsAdditionalDetails .nav-tabs .nav-item{ width: 50%; text-align: center;}
    .tabsAdditionalDetails .nav-tabs .nav-link{ border-bottom: solid 1px #f2f2f4 !important; }
    .boxCommanBorder, .boxContentInner{ padding: 15px;}

    .boxCommanBorder .row .col-md-2{ max-width: 100%; flex: 0 0 100%;}
    .boxCommanBorder .row .col-md-4{ max-width: 50%; flex: 0 0 50%;}
}
@media (max-width:1023px) {
    /* body:before {
        z-index: 10000000000;
        content: "";
        width: 100%;
        height: 100%;
        display: block !important;
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.9);
    }
    body:after {
        content: "Please rotate your Device to landscape mode to get a better view of the wesbite";
        position: absolute;
        top: 50%;
        width: 80%;
        left: 50%;
        font-weight: bold;
        text-align: center;
        z-index: 100000000001;
        font-size: 25px;
        color: #FFF;
        transform: translate(-50%,-50%);
    } */
}
