.rightMenUItems ul li{
    list-style: none;
    display: inline-block; 
}

.rightMenUItems ul li + li{
    padding-left: 20px;

}

li{
    list-style: none;
}
.rightColumnMenu{
    background: rgb(62,103,255);
background: -moz-linear-gradient(top,  rgba(62,103,255,1) 0%, rgba(35,159,255,1) 39%, rgba(16,199,255,1) 75%, rgba(16,199,255,1) 75%);
background: -webkit-linear-gradient(top,  rgba(62,103,255,1) 0%,rgba(35,159,255,1) 39%,rgba(16,199,255,1) 75%,rgba(16,199,255,1) 75%);
background: linear-gradient(to bottom,  rgba(62,103,255,1) 0%,rgba(35,159,255,1) 39%,rgba(16,199,255,1) 75%,rgba(16,199,255,1) 75%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e67ff', endColorstr='#10c7ff',GradientType=0 );

}

select.form-control{
    height: 35px;
    padding-top: 5px;
    font-size: 14px;
}
.selectCustomers {
    width: 190px;
}
.btn.btn-md{
    height: 35px;
    line-height: 35px;
    padding: 0px 45px;
}
.tableHeader{
    background: #f6f6ff;
}

.notificationLeft{
    margin-right: -17px;
    padding-right: 20px;
    border-right: 1px solid #f3f3f3;
}
ul.listTopMenu > li + li {
    padding-left: 39px;
}

ul.listTopMenu li .imgUser{
    border-radius: 20%;
}

ul.menuRightColumn li a {
    color: #fff;
}

ul.menuRightColumn li.active a, ul.menuRightColumn li a:hover, ul.menuRightColumn li a.active{
    background-color: #6695ff;
    color: #fff;
    border-left-color: #fff;

}
.sectionColumns .leftColumn {
    width: 50%;
}
.sectionColumns .rightColumn {
    background-color: #fff;
}
.boxComman{
    padding: 0px !important;
}
.loginColor{
    color: #458ac0;
    font-weight: 500;
}
.loginAccount p{
    padding: 0px !important;
    font-weight: 500;
    color: #86878d;
}
input[type=submit], input[type=button], input[type=reset], button, .btn {
    height: 30px;
    line-height: 30px;
    padding: 0px 40px;
    font-size: 12px;
    background: rgb(0,167,246);
background: -moz-linear-gradient(left,  rgba(0,167,246,1) 0%, rgba(0,93,233,1) 59%, rgba(0,93,233,1) 99%);
background: -webkit-linear-gradient(left,  rgba(0,167,246,1) 0%,rgba(0,93,233,1) 59%,rgba(0,93,233,1) 99%);
background: linear-gradient(to right,  rgba(0,167,246,1) 0%,rgba(0,93,233,1) 59%,rgba(0,93,233,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a7f6', endColorstr='#005de9',GradientType=1 );

}
.sectionColumns .rightColumn {
    width: 50%;
}
.form-group label {
    color: #86878d;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}
.sectionColumns .content-rightColumn{
    padding: 20px;
}
.loginHeader {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
}
.form-control:focus {
    border-color:#95dde1;
    box-shadow: 0px 0px 2px #95dde1;
}
.form-control::-webkit-input-placeholder { 
    color: #cacdd7;
}
.form-control::-moz-placeholder { 
    color: #cacdd7;
}
.form-control:-ms-input-placeholder {
    color: #cacdd7;
}
.form-control:-moz-placeholder { 
    color: #cacdd7;
}