
.loadingPage{
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 9999999999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader {
  margin-left: 47%;
  margin-top: 18%;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-link{
  cursor: pointer;
}
.btnlg{
  width: 200px;
}
.DraftEditor-editorContainer{
  border: 1px solid black;
}
/* .gVZomo{
 overflow-x: visible !important;
}
.cOaGrx{
 min-height:20px !important
}

.sc-kkGfuU path:first-child{
 display: none !important;
} */

.report-table-container{
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.report-table{
  width: 100%;
}
.report-table th, .report-table td{
  text-align: left;
}
.report-table td{
  padding-top: 10px;
}
